<table class="f6">
  <tr>
    <td>Snippets</td>
    {{#each selectedLangs as |lang|}}
      <td>
        {{lang}}
      </td>
    {{/each}}
  </tr>
  {{#each content as |snippetRow|}}
    <tr>
      <td class="bb pa1">
        {{snippetRow.name}}
      </td>
      {{#each selectedLangs as |lang|}}
        <td class="bb pa1">
          {{safe-string (get snippetRow.contentJSON lang)}}
        </td>
      {{/each}}
    </tr>
  {{/each}}
</table>
